<div class="hello-there">

    <div style="text-align: center;">
        Hello there &#128512;
        <br><br>
        This is an application that keeps track of your period for you.
        <br>You no longer have to do that manually.
        <br><br>
        <i>We want to do that for you!</i>

    </div>
</div><br>
<a href="/users/sign-up">
    <div class="sign">Sign up here</div>
</a>
<div style="margin: 10px;color: grey;text-align: center;">OR</div>

<a href="/users/login">
    <div class="sign">Log in</div>
</a>
<br><br>