<div style="color:white;">
    <%= info %>
</div> 
<div style="color:white;">
    <%= menoMessage %>
</div> 
<div style="color: white;">
<a href="/users/edit"> EDIT PROFILE</a>
<a href="/users/logout"> Log out</a>

</div>