<div class="custom-form">
    <br><br>
    <h3 style="text-align: center;"> Reset Your Password </h3>
    <div style="color: red;text-align: center;visibility: hidden;" id="rehide">Passwords don't match<br><br></bt></div>

    <form method="POST" id="reset" >
        <!-- Email input -->
        <div id="errorMsg" style="text-align: center;color: red;font-weight: bold;margin-top:30px;margin-bottom:20px"></div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">New Password</label>
            <input id="p1" type="password"  onclick="rehide()" class="form-control" name="password" required />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Confirm Password</label>
            <input type="password" id="p2" onclick="rehide()" class="form-control" name="confirm" required />
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check text-center">
                    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>

                </div>
            </div>


        </div>

        
    </form>
</div>
<script>
    formm = document.getElementById("reset")
    formm.onsubmit = function (event) {
      var password = document.getElementById("p1"),
        confirm_password = document.getElementById("p2");
  
      function validatePassword() {
  
        if (password.value != confirm_password.value) {
          // document.getElementById("rehide").style.visibility = "visible"
          $("#rehide").css("visibility", "visible");
          $("#p2").select()
          event.preventDefault()
        }
      }
  
      validatePassword()
    }
    var rehide = function () {
    document.getElementById("rehide").style.visibility = "hidden"
  }

  </script>